.img1 {
  position: absolute;
  height: 170px;
  margin-left: 520px;
  margin-top: 100px;
}

.img2 {
  position: absolute;
  height: 170px;
  margin-left: 850px;
  margin-top: 100px;
}

.img3 {
  position: absolute;
  height: 170px;
  margin-left: 1180px;
  margin-top: 100px;
}

.img4 {
  position: absolute;
  height: 170px;
  margin-left: 520px;
  margin-top: 450px;
}

.img5 {
  position: absolute;
  height: 170px;
  margin-left: 850px;
  margin-top: 450px;
}

.img6 {
  position: absolute;
  height: 170px;
  margin-left: 1180px;
  margin-top: 450px;
}
